{% extends "layout.html" %}
{% block content %}
<link href="/static/css/main.css" rel="stylesheet">

<header class="custom-header">
    <h2 class="mx-auto text-start">Realjamの配車</h2>
</header>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <h2 class="text-center mb-2">配車結果：{{ history_name }}</h2><br>
            <div class="row d-flex justify-content-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    
                    <div id="resultArea">
                    {% for driver, passengers in drivers.items() %}
                    <div class="card mb-3" style="border-radius: 1rem;">
                        <div class="card-body">
                            <h3 class="card-title">{{ driver }}車</h3>
                            <ul class="list-group list-group-flash rounded">
                                {% for passenger in passengers %}
                                    <li class="list-group-item">{{ passenger }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                    <br>
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="col text-center image-container">
                                <a onclick="copyText()" class="btn btn-primary btn-lg square-button">
                                    テキストを保存
                                    <img id="textimage" src="/static/images/text-icon.png" alt="Text Icon">
                                </a>
                            </div> 
                            <div class="col text-center image-container">
                                <a hre="#" onclick="copyUrl()" class="btn btn-primary btn-lg square-button">
                                    URLをコピー
                                    <img id="clipimage" src="/static/images/paperclip-icon.png" alt="Paperclip Icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="position-relative text-end">
                        <a href="/history_list"><button class="btn btn-secondary">履歴リストへ</button></a>    
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}
