{% extends "layout.html" %}
{% block content %}
<link href="/static/css/main.css" rel="stylesheet">

<header class="custom-header">
    <h2 class="mx-auto text-start">Realjamの配車</h2>
</header>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h2 class="text-center mb-2">乗客登録</h2>
                <p class="text-center">現在の乗客数: <span id="passenger-count"  >{{ passenger_count }}</span></p>
                    <form id="passenger-form" action="{{ url_for('index.register_p_post') }}" method="POST" onsubmit="return checkForm() && checkDuplicates()">
                        <input type="hidden" id="passenger-count-input" name="passenger_count" value="{{ passenger_count }}">
                        <div id="passenger-fields">
                            <div class="passenger-field" id="passenger-field-0">
                            <div class="card mb-1" style="border-radius: 1rem;">
                            <div class="card-body">
                                <div class="form-group mb-1">
                                    <label class="form-label ms-1" for="name-0">名前</label>
                                    <input type="text" class="form-control form-control-sm rounded-pill" id="name-0" name="passenger[0][name]" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="old-0" class="form-label ms-1">学年</label>
                                    <select id="old" class="form-control form-control-sm rounded-pill" name="passenger[0][old]">
                                        <option value="M1">M1</option>
                                        <option value="M2">M2</option>
                                        <option value="B4">B4</option>
                                        <option value="B3">B3</option>
                                        <option value="B2">B2</option>
                                        <option value="B1">B1</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="jenre-0" class="form-label ms-1">ジャンル</label>
                                    <select id="jenre-0" class="form-control form-control-sm rounded-pill" name="passenger[0][jenre]">
                                        <option value="HIPHOP">HIPHOP</option>
                                        <option value="LOCK">LOCK</option>
                                        <option value="POP">POP</option>
                                        <option value="BREAK">BREAK</option>
                                        <option value="WAACK">WAACK</option>
                                        <option value="HOUSE">HOUSE</option>
                                        <option value="JAZZ">JAZZ</option>
                                    </select>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm btn-close" aria-label="Close" onclick="removePassengerField(this)"></button>
                            </div>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="addPassenger()">+乗客の追加</button>
                        </div>
                        <br>
                        <input type="submit"  class="btn btn-primary btn-block" value="配車結果へ">
                    </form>
            </div>        
        </div>
    </div> 
</section>
{% endblock %}